.queue-card-container {
  width: 350px;
  margin: 5px;
}

.queue-card-body-actual-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue-card-body-actual-number-text {
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(187, 186, 186);
  border-radius: 10px;
  padding: 30px;
}

.queue-card-body-info {
  display: flex;
  justify-content: space-between;
}

.queue-card-body-title-text {
    font-size: 1.3em;
    font-weight: 200;
}

.queue-card-body-info-text {
    color: #559bd4;
    font-weight: bold;
}